--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: BroadcastStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BroadcastStatus" AS ENUM (
    'DRAFT',
    'SCHEDULED',
    'SENDING',
    'SENT',
    'FAILED'
);


ALTER TYPE public."BroadcastStatus" OWNER TO postgres;

--
-- Name: ConversationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ConversationStatus" AS ENUM (
    'OPEN',
    'RESOLVED',
    'BOT'
);


ALTER TYPE public."ConversationStatus" OWNER TO postgres;

--
-- Name: MessageDirection; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MessageDirection" AS ENUM (
    'INBOUND',
    'OUTBOUND'
);


ALTER TYPE public."MessageDirection" OWNER TO postgres;

--
-- Name: MessageStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MessageStatus" AS ENUM (
    'SENDING',
    'SENT',
    'DELIVERED',
    'READ',
    'FAILED'
);


ALTER TYPE public."MessageStatus" OWNER TO postgres;

--
-- Name: MessageType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MessageType" AS ENUM (
    'TEXT',
    'IMAGE',
    'AUDIO',
    'VIDEO',
    'DOCUMENT',
    'TEMPLATE',
    'INTERACTIVE'
);


ALTER TYPE public."MessageType" OWNER TO postgres;

--
-- Name: Plan; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Plan" AS ENUM (
    'TRIAL',
    'STARTER',
    'GROWTH',
    'ENTERPRISE'
);


ALTER TYPE public."Plan" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO postgres;

--
-- Name: Broadcast; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Broadcast" (
    id text NOT NULL,
    "workspaceId" text NOT NULL,
    name text NOT NULL,
    message text NOT NULL,
    "mediaUrl" text,
    status public."BroadcastStatus" DEFAULT 'DRAFT'::public."BroadcastStatus" NOT NULL,
    "scheduledAt" timestamp(3) without time zone,
    "sentAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "chatbotIds" text[] DEFAULT ARRAY[]::text[]
);


ALTER TABLE public."Broadcast" OWNER TO postgres;

--
-- Name: BroadcastRecipient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BroadcastRecipient" (
    id text NOT NULL,
    "broadcastId" text NOT NULL,
    "contactId" text NOT NULL,
    status public."MessageStatus" DEFAULT 'SENDING'::public."MessageStatus" NOT NULL,
    "sentAt" timestamp(3) without time zone,
    "errorCode" text,
    "failureReason" text
);


ALTER TABLE public."BroadcastRecipient" OWNER TO postgres;

--
-- Name: CatalogItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CatalogItem" (
    id text NOT NULL,
    "workspaceId" text NOT NULL,
    name text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    price double precision NOT NULL,
    currency text DEFAULT 'CAD'::text NOT NULL,
    "imageUrl" text DEFAULT ''::text NOT NULL,
    category text DEFAULT ''::text NOT NULL,
    "inStock" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "linkUrl" text DEFAULT ''::text NOT NULL
);


ALTER TABLE public."CatalogItem" OWNER TO postgres;

--
-- Name: Chatbot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Chatbot" (
    id text NOT NULL,
    "workspaceId" text NOT NULL,
    name text NOT NULL,
    description text,
    active boolean DEFAULT false NOT NULL,
    flow jsonb DEFAULT '{}'::jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Chatbot" OWNER TO postgres;

--
-- Name: Contact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Contact" (
    id text NOT NULL,
    "workspaceId" text NOT NULL,
    phone text NOT NULL,
    name text,
    email text,
    avatar text,
    tags text[],
    attributes jsonb DEFAULT '{}'::jsonb NOT NULL,
    "optedIn" boolean DEFAULT true NOT NULL,
    "optedInAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastSeenAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    notes text,
    subscribed boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Contact" OWNER TO postgres;

--
-- Name: ContactGroup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ContactGroup" (
    id text NOT NULL,
    "workspaceId" text NOT NULL,
    name text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ContactGroup" OWNER TO postgres;

--
-- Name: ContactGroupMember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ContactGroupMember" (
    id text NOT NULL,
    "groupId" text NOT NULL,
    "contactId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ContactGroupMember" OWNER TO postgres;

--
-- Name: Conversation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Conversation" (
    id text NOT NULL,
    "workspaceId" text NOT NULL,
    "contactId" text NOT NULL,
    status public."ConversationStatus" DEFAULT 'OPEN'::public."ConversationStatus" NOT NULL,
    "assignedTo" text,
    "lastMessage" text,
    "lastMessageAt" timestamp(3) without time zone,
    "unreadCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "chatbotId" text
);


ALTER TABLE public."Conversation" OWNER TO postgres;

--
-- Name: Integration; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Integration" (
    id text NOT NULL,
    "workspaceId" text NOT NULL,
    provider text NOT NULL,
    enabled boolean DEFAULT false NOT NULL,
    config jsonb DEFAULT '{}'::jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Integration" OWNER TO postgres;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    "waMessageId" text,
    direction public."MessageDirection" NOT NULL,
    type public."MessageType" DEFAULT 'TEXT'::public."MessageType" NOT NULL,
    content text NOT NULL,
    "mediaUrl" text,
    status public."MessageStatus" DEFAULT 'SENT'::public."MessageStatus" NOT NULL,
    "sentAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deliveredAt" timestamp(3) without time zone,
    "readAt" timestamp(3) without time zone
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    "workspaceId" text NOT NULL,
    name text NOT NULL,
    description text,
    price double precision NOT NULL,
    currency text DEFAULT 'CAD'::text NOT NULL,
    images text[],
    "inStock" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: Template; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Template" (
    id text NOT NULL,
    "workspaceId" text NOT NULL,
    name text NOT NULL,
    body text NOT NULL,
    category text DEFAULT 'General'::text NOT NULL,
    tags text[] DEFAULT ARRAY[]::text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "metaStatus" text DEFAULT 'NONE'::text NOT NULL,
    "metaTemplateId" text
);


ALTER TABLE public."Template" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    image text,
    password text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VerificationToken" OWNER TO postgres;

--
-- Name: Workspace; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Workspace" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    logo text,
    plan public."Plan" DEFAULT 'TRIAL'::public."Plan" NOT NULL,
    "planExpires" timestamp(3) without time zone,
    "stripeId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL,
    "waPhoneNumberId" text,
    "waAccessToken" text,
    "waBusinessId" text,
    "waVerified" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Workspace" OWNER TO postgres;

--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Account" (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: Broadcast; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: BroadcastRecipient; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CatalogItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Chatbot; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Contact; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ContactGroup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ContactGroup" (id, "workspaceId", name, description, "createdAt", "updatedAt") FROM stdin;
cmlsgv07a000111wienfvrtk9	cmls7kxjx0003owywaaqswjol	Test group	T1	2026-02-18 20:10:12.549	2026-02-26 19:41:21.22
\.


--
-- Data for Name: ContactGroupMember; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ContactGroupMember" (id, "groupId", "contactId", "createdAt") FROM stdin;
cmlsh86f10003hx6p6qpymesf	cmlsgv07a000111wienfvrtk9	cmls8p5wu0001j48i7i711z9r	2026-02-18 20:20:27.133
cmlsh86f10004hx6pgnt9ps3c	cmlsgv07a000111wienfvrtk9	cmlsh7tqz0001hx6pbzb42up3	2026-02-18 20:20:27.133
\.


--
-- Data for Name: Conversation; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Integration; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Integration" (id, "workspaceId", provider, enabled, config, "createdAt", "updatedAt") FROM stdin;
cmlshyf4e0001qesvmajjf0xz	cmls7kxjx0003owywaaqswjol	openai	t	{"apiKey": "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"}	2026-02-18 20:40:51.469	2026-02-18 20:40:51.469
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Product" (id, "workspaceId", name, description, price, currency, images, "inStock", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Session" (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: Template; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, name, email, "emailVerified", image, password, "createdAt", "updatedAt") FROM stdin;
cmlvbbkr3000xwxn6juay9otz	Jayakarthiga	jayakarthiga@fareedsheikllp.com	\N	\N	$2a$12$4b9oOiXKQzkZQCl/GCcCs.eChfh7q7e5DcWxeIaIIR1ilUVq3Qv12	2026-02-20 19:58:26.51	2026-02-20 19:58:26.51
cmls7kxj50001owywi2nvrix9	Jaya	jayakarthigaarumugam@gmail.com	\N	\N	$2a$12$xeaiKXb1jzkib2KOEYQetOwldE1GUfAfH4ZpR2fc9Ji1V4.hudSDC	2026-02-18 15:50:25.985	2026-02-23 17:40:53.162
\.


--
-- Data for Name: VerificationToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."VerificationToken" (identifier, token, expires) FROM stdin;
jayakarthigaarumugam@gmail.com	5996db9c4181612e9a284292d0ebd62b2889c4f85516bd53930d0881c13ea4fc	2026-02-23 18:31:17.253
jayakarthigaarumugam@gmail.com	07bd4846d57c779323ae87ec3eca8445b99103249798cec6afcd080668890a61	2026-02-23 18:31:45.583
jayakarthigaarumugam@gmail.com	e855f26eb011f78e8b3d995dfa33d80b56acb60d6d1dcbe62a07e84f1a191fc9	2026-02-23 18:33:42.345
jayakarthigaarumugam@gmail.com	5ac05bdca9f95ef9f7fdead7777e6b233f12c294d10f9d4c6dfbc4c25e41c2ac	2026-02-23 18:34:06.315
\.


--
-- Data for Name: Workspace; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Workspace" (id, name, slug, logo, plan, "planExpires", "stripeId", "createdAt", "updatedAt", "userId", "waPhoneNumberId", "waAccessToken", "waBusinessId", "waVerified") FROM stdin;
cmls7kxjx0003owywaaqswjol	Fareedsheikllp	fareedsheikllp-mls7kxjt	\N	TRIAL	2026-03-04 15:50:26.01	\N	2026-02-18 15:50:26.013	2026-02-18 15:50:26.013	cmls7kxj50001owywi2nvrix9	\N	\N	\N	f
cmlvbbksd000zwxn6jyfyttpc	Fareedsheikllp Inc	fareedsheikllp-inc-mlvbbkry	\N	TRIAL	2026-03-06 19:58:26.542	\N	2026-02-20 19:58:26.553	2026-02-20 19:58:26.553	cmlvbbkr3000xwxn6juay9otz	\N	\N	\N	f
\.


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: BroadcastRecipient BroadcastRecipient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BroadcastRecipient"
    ADD CONSTRAINT "BroadcastRecipient_pkey" PRIMARY KEY (id);


--
-- Name: Broadcast Broadcast_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Broadcast"
    ADD CONSTRAINT "Broadcast_pkey" PRIMARY KEY (id);


--
-- Name: CatalogItem CatalogItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CatalogItem"
    ADD CONSTRAINT "CatalogItem_pkey" PRIMARY KEY (id);


--
-- Name: Chatbot Chatbot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Chatbot"
    ADD CONSTRAINT "Chatbot_pkey" PRIMARY KEY (id);


--
-- Name: ContactGroupMember ContactGroupMember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ContactGroupMember"
    ADD CONSTRAINT "ContactGroupMember_pkey" PRIMARY KEY (id);


--
-- Name: ContactGroup ContactGroup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ContactGroup"
    ADD CONSTRAINT "ContactGroup_pkey" PRIMARY KEY (id);


--
-- Name: Contact Contact_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_pkey" PRIMARY KEY (id);


--
-- Name: Conversation Conversation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_pkey" PRIMARY KEY (id);


--
-- Name: Integration Integration_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Integration"
    ADD CONSTRAINT "Integration_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: Template Template_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Template"
    ADD CONSTRAINT "Template_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Workspace Workspace_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Workspace"
    ADD CONSTRAINT "Workspace_pkey" PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: Contact_workspaceId_phone_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Contact_workspaceId_phone_key" ON public."Contact" USING btree ("workspaceId", phone);


--
-- Name: Integration_workspaceId_provider_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Integration_workspaceId_provider_key" ON public."Integration" USING btree ("workspaceId", provider);


--
-- Name: Message_waMessageId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Message_waMessageId_key" ON public."Message" USING btree ("waMessageId");


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: Workspace_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Workspace_slug_key" ON public."Workspace" USING btree (slug);


--
-- Name: Workspace_stripeId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Workspace_stripeId_key" ON public."Workspace" USING btree ("stripeId");


--
-- Name: Workspace_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Workspace_userId_key" ON public."Workspace" USING btree ("userId");


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BroadcastRecipient BroadcastRecipient_broadcastId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BroadcastRecipient"
    ADD CONSTRAINT "BroadcastRecipient_broadcastId_fkey" FOREIGN KEY ("broadcastId") REFERENCES public."Broadcast"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BroadcastRecipient BroadcastRecipient_contactId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BroadcastRecipient"
    ADD CONSTRAINT "BroadcastRecipient_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES public."Contact"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Broadcast Broadcast_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Broadcast"
    ADD CONSTRAINT "Broadcast_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CatalogItem CatalogItem_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CatalogItem"
    ADD CONSTRAINT "CatalogItem_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Chatbot Chatbot_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Chatbot"
    ADD CONSTRAINT "Chatbot_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ContactGroupMember ContactGroupMember_contactId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ContactGroupMember"
    ADD CONSTRAINT "ContactGroupMember_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES public."Contact"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ContactGroupMember ContactGroupMember_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ContactGroupMember"
    ADD CONSTRAINT "ContactGroupMember_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."ContactGroup"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ContactGroup ContactGroup_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ContactGroup"
    ADD CONSTRAINT "ContactGroup_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Contact Contact_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Conversation Conversation_contactId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES public."Contact"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Conversation Conversation_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Integration Integration_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Integration"
    ADD CONSTRAINT "Integration_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public."Conversation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Product Product_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Template Template_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Template"
    ADD CONSTRAINT "Template_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Workspace Workspace_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Workspace"
    ADD CONSTRAINT "Workspace_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

